.page-header {
  margin-bottom: 5px;
}
.general-container {
  width: 100%;
  height: 100%;
}
.add-event-button {
  background-image: url(../../resources/add2.svg);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background-color: inherit;
  background-position: center;
  transition: 0.4s;
}
.form-add-event-input-title {
  width: 50%;
  height: 30px;
}
.form-add-event-input-description {
  width: 50%;
  height: 150px;
}
.form-select-priority-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  height: 30px;
}
.form-add-event-input-date {
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(37, 37, 37);
}
.form-select-priority-text {
  font-weight: bold;
}

.form-add-event {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}
.event-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 90%;
  height: 100%;
  gap: 20px;
}
.event-list-element-container {
  width: 350px;
  position: relative;
}
.event-list-element-text-container {
  display: none;
  background: #afafaf;
  width: 330px;
  padding: 10px;
  padding-top: 5px;
  transition: all 0.4s;
}
.event-list-element-text {
  overflow-wrap: break-word;
  overflow-y: auto;
}

.event-list-element-button-delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
.event-list-element-button-delete-button:focus {
  outline: 3px solid green;
}
.event-list-element-button {
  height: 40px;
  background-size: 40px;
  position: relative;
  width: 100%;
  background: #1f1f1f;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #fafafa;
  border: 0;
}
.event-list-element-button:focus {
  outline: 5px solid green;
}
.event-list-element-button-text {
  width: 250px;
  overflow: hidden;
  text-align: left;
}
.event-list-element-button-priority-background {
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-color: #000000;
}
.event-list-element-button-delete-button-image {
  width: 20px;
  height: 20px;
}
.event-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 50px;
}
@media screen and (max-width: 770px) {
  .event-list {
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
}
