body{
  transition: 0.3s;
}

.weather-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.searched-weather-container{
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.city-name-search{
  width: 300px;
  height: 40px;
}
.search-submit{
  height: 40px;
  width: 40px;
  border: 0;
  background-color:inherit;
}

.search-bar{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.search-submit-container:{
  border: 0.5px solid black;
  height: 100%;
}
.search-submit-button-span{
  margin: 0;
}
.searched-weather-text{
  font-family: Arial, Helvetica, sans-serif;
}
.search-submit-button{
  display: flex;
  height: 100%;
  padding-right: 30px;
  padding-left: 10px;
  position:relative;
  border-radius: 4px;
  background: inherit;
  border: none;
  background: #1F1F1F;
  border: 0.5 solid gray;
  color: #FAFAFA;
  font-size: 28px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
}
.search-submit-button span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  padding-bottom: 5px;
}
.search-submit-button-image{
  width:30px;
  height: auto;
  transform: translateX(22px);
  transition: 0.5s;
}
.search-submit-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -40px;
  transition: 0.5s;
  padding-bottom: 15px;

}
.search-submit-button:hover span:after {
  opacity: 1;
  right: -27px;
}

.search-submit-button:hover img  {
  transform: translateX(13px);

}

